.container {
  margin-left: 5px;
  margin-right: 5px;

  &__top {
    display: grid;
    grid-template-rows: [row1]100px [row2]100px;
    grid-gap: 5px;
    margin-bottom: 7px;

    &__main-menu {
      color: orangered;
      text-transform: uppercase;
      border: 1px solid orangered;
      border-radius: 7px;
    }
  }

  &__contents {
    display: grid;
    grid-template-rows: [row1]100px [row2]100px;
    grid-template-columns: [col1]auto [col2]auto;
    grid-gap: 5px;
  }
}

.line-break {
  height: 1px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  background-color: orangered;
}

.test {
  border: 1px solid orangered;
  border-radius: 4px;
}
