.home {
  height: calc(100% - 112px);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;

  &__body {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    // grid-template-rows: [row1]50% [row2]50%;
    // grid-gap: 5px;
    margin-bottom: 7px;

    &__main {
      flex-grow: 1;
      margin-top: 10px;
      background-color: orangered;
      border-radius: 7px;
    }
  }

  &__gift {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-bottom: 5px;

    &__contents {
      height: 100%;
      border: 1px solid orangered;
      border-radius: 7px;
    }
  }

  &__foot {
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: space-between;
    grid-column-gap: 5px;

    &__research {
      width: 100%;
      border: 1px solid orangered;
      border-radius: 7px;
    }
    &__club {
      width: 100%;
      border: 1px solid orangered;
      border-radius: 7px;
    }
  }
}

.drop {
  position: relative;
  margin-top: calc(100% + 1000px);
}

.menu {
  display: flex;
  background: orangered;
  color: white;
  top: 0;
  justify-content: center;
  padding: 20px;
  border-radius: 7px;

  &__text {
    align-items: center;
    font-size: 27px;
    text-transform: uppercase;
  }
}
